<ul class="home-items">
	<% for(var i=0; i<items.length; i++) {%>
	<li class="item" id="<%= items[i].slug %>" style="margin-left:<%= ((items[i].averageVisitDuration-stats.minVisitDuration)/(stats.maxVisitDuration-stats.minVisitDuration))*75 %>vw">
		<a href="/partials/<%= items[i].slug %>">
			<div class="item-colors">
				<div class="primary"></div>
				<div class="secondary"></div>
				<div class="tertiary"></div>
			</div>
			<div class="item-title"><%- items[i].title %></div>
			<div class="item-artist"><%- items[i].artist %></div>
		</a>
	</li>
	<% } %>
</ul>