<% if(typeof items !== 'undefined'){%>
<div class="expanded-item-wrapper <%= items[index].slug %>">
	<div class="expanded-item-images">
		<div class="expanded-item-gallery">
			<% for(var i=0; i<items[index].images.length; i++) {%>
			<img src="https://res.cloudinary.com/hkhfknnmy/image/upload/v1481942003/assets/images/<%= items[index].images[i] %>.jpg"/>
			<% } %>
		</div>
	</div>
	<div class="expanded-item-info">
		<h1>
		<% if(items[index].title){%><i><%= items[index].title %>,</i> <% if(items[index].year){%><%= items[index].year %>,&nbsp;<% }%><% }%>
		<% if(items[index].artist){%><%= items[index].artist %>,&nbsp;<% }%>
		<% if(items[index].description){%><%- items[index].description %>&nbsp;<% }%>
		</h1>
	</div>
	<div class="expanded-item-about">
		<% if(items[index].body){%>
		<span class="expanded-item--label"> </span>
		<p>
			<%- items[index].body %>
			<% if(items[index].curator){%>
			<br><br>
			<%= items[index].curator %>	
		</p>
		<% } %>
		<% } %>
	</div>

	<div class="expanded-item-artist">
	<% if(typeof artist !== 'undefined'){%>
	<span class="expanded-item--label"></span>
		<p><%- artist.description %></p>
		<% } %>
	</div>
	<div class="expanded-item-stats"><span class="expanded-item--label"> </span>
	<% if(items[index].views>-1){%>
		<div class="expanded-item-stat">
			<h1><%= items[index].views %></h1><span>views</span>
		</div>
		<% } %>
		<% if(items[index].viewsToday>-1){%>
		<div class="expanded-item-stat">
			<h1><%= items[index].viewsToday %></h1><span>views today</span>
		</div>
		<% } %>
		<% if(items[index].yourViews>-1){%>
		<div class="expanded-item-stat">
			<h1><%= items[index].yourViews %></h1><span>your views</span>
		</div>
		<% } %>
		<% if(items[index].averageVisitDuration>-1){%>
		<div class="expanded-item-stat">
			<h1><%= parseInt(items[index].averageVisitDuration) %> sec</h1><span>average visit</span>
		</div>
		<% } %>
		<% if(items[index].lastVisit>-1){%>
		<div class="expanded-item-stat">
			<h1><%= items[index].lastVisit %>m</h1><span>since last visit</span>
		</div>
		<% } %>
	</div>
	<% } %>
	<% include ../partials/all-items %>