<% if(typeof items !== 'undefined'){%>
<div class="expanded-item-wrapper <%= items[index].slug %>">
	<div class="expanded-item-images">
		<div class="expanded-item-gallery">
			<% for(var i=0; i<items[index].images.length; i++) {%>
			<img src="http://res.cloudinary.com/hkhfknnmy/image/upload/v1481942003/assets/images/<%= items[index].images[i] %>.jpg"/>
			<% } %>
		</div>
	</div>
	<div class="expanded-item-info">

		<% if(items[index].title){%><h1><%= items[index].title %></h1><br/><% }%>
		<% if(items[index].artist){%><h2><%= items[index].artist %></h2><br/><% }%>
		<% if(items[index].description){%><h3><%- items[index].description %></h3><br/><% }%>
	</div>
	<div class="expanded-item-about">
		<% if(items[index].body){%>
		<span class="expanded-item--label"> </span>
		<p>
			<%- items[index].body %>
			<% if(items[index].faculty){%>
			<br><br>-<%= items[index].faculty %>
			<% }%>
		</p>
		<% } %>
	</div>

	<div class="expanded-item-artist">
	<% if(items[index].description){%>
	<span class="expanded-item--label"></span>
		<p><%- artist.description %></p>
		<% } %>
	</div>
	<div class="expanded-item-stats"><span class="expanded-item--label"> </span>
	<% if(items[index].views>-1){%>
		<div class="expanded-item-stat">
			<h1><%= items[index].views %></h1><span>views</span>
		</div>
		<% } %>
		<% if(items[index].viewsToday>-1){%>
		<div class="expanded-item-stat">
			<h1><%= items[index].viewsToday %></h1><span>views today</span>
		</div>
		<% } %>
		<% if(items[index].yourViews>-1){%>
		<div class="expanded-item-stat">
			<h1><%= items[index].yourViews %></h1><span>your views</span>
		</div>
		<% } %>
		<% if(items[index].averageVisitDuration>-1){%>
		<div class="expanded-item-stat">
			<h1><%= items[index].averageVisitDuration %> sec</h1><span>average visit</span>
		</div>
		<% } %>
		<% if(items[index].lastVisit>-1){%>
		<div class="expanded-item-stat">
			<h1><%= items[index].lastVisit %>m</h1><span>since last visit</span>
		</div>
		<% } %>
	</div>
	<% } %>
	<% include ../partials/all-items %>
	 <script type="text/javascript">
  var abc = 'im in item';
  </script>