<div class="expanded-item-wrapper <%= items[index].slug %>">
	<div class="expanded-item-images">
		<div class="expanded-item-gallery">
			<% for(var i=0; i<items[index].images.length; i++) {%>
			<img src="/assets/images/<%= items[index].images[i] %>.jpg"/>
			<% } %>
		</div>
	</div>
	<div class="expanded-item-info">

		<% if(items[index].title){%><h1><%= items[index].title %></h1><br/><% }%>
		<% if(items[index].artist){%><h2><%= items[index].artist %></h2><br/><% }%>
		<% if(items[index].description){%><h3><%- items[index].description %></h3><br/><% }%>
	</div>
	<div class="expanded-item-about">
		<% if(items[index].body){%>
		<span class="expanded-item--label"> </span>
		<p>
			<%- items[index].body %>
			<% if(items[index].faculty){%>
			<br><br>-<%= items[index].faculty %>
			<% }%>
		</p>
		<% } %>
	</div>

	<div class="expanded-item-artist"><span class="expanded-item--label"></span>
		<p><%= items[index].artist %></p>
	</div>
	<div class="expanded-item-stats"><span class="expanded-item--label"> </span>
		<div class="expanded-item-stat">
			<h1>365</h1><span>views today</span>
		</div>
		<div class="expanded-item-stat">
			<h1>364</h1><span>views today</span>
		</div>
		<div class="expanded-item-stat">
			<h1>363</h1><span>views today</span>
		</div>
		<div class="expanded-item-stat">
			<h1>362</h1><span>views today</span>
		</div>
		<div class="expanded-item-stat">
			<h1>361</h1><span>views today</span>
		</div>
		<div class="expanded-item-stat">
			<h1>3600</h1><span>views today</span>
		</div>
	</div>
	<div class="all-items">
		<% for(var i=0; i<items.length; i++) {%>
		<% if(i != index) {%>
		<div class="item" id="<%= items[i].slug %>" >
			<a href="/partials/<%= items[i].slug %>">
				<div class="item-colors">
					<div class="primary"></div>
					<div class="secondary"></div>
					<div class="tertiary"></div>
				</div>
			</a>
		</div>
		<% } %>
		<% } %>
	</div>