<div class="expanded-item-wrapper">
	<div class="expanded-item-images">
		<div class="expanded-item-gallery"><img src="http://placekitten.com/1000/600"/><img src="http://placekitten.com/600/1000"/><img src="http://placekitten.com/900/690"/></div>
	</div>
	<div class="expanded-item-info">
		<h1><%= items[index].title %></h1><br/>
		<h2><%= items[index].artist %></h2><br/>
		<h3><%= items[index].description %></h3><br/>
	</div>
	<div class="expanded-item-about"><span class="expanded-item--label"> </span>
		<p>
			<%= items[index].body %>
		</p>
	</div>
	<div class="expanded-item-artist"><span class="expanded-item--label"></span>
		<p>Etiam finibus lectus sit amet tellus malesuada posuere. Vestibulum scelerisque erat eget ligula mollis, quis vestibulum purus porttitor. Aliquam at tincidunt ipsum. Morbi viverra efficitur dolor, eu aliquam lectus hendrerit et. Sed a leo quis velit porta scelerisque ac sit amet dui. Integer molestie turpis ac vehicula porta.</p>
	</div>
	<div class="expanded-item-stats"><span class="expanded-item--label"> </span>
		<div class="expanded-item-stat">
			<h1>365</h1><span>views today</span>
		</div>
		<div class="expanded-item-stat">
			<h1>364</h1><span>views today</span>
		</div>
		<div class="expanded-item-stat">
			<h1>363</h1><span>views today</span>
		</div>
		<div class="expanded-item-stat">
			<h1>362</h1><span>views today</span>
		</div>
		<div class="expanded-item-stat">
			<h1>361</h1><span>views today</span>
		</div>
		<div class="expanded-item-stat">
			<h1>360</h1><span>views today</span>
		</div>
	</div>
	<div class="all-items">
		<% for(var i=0; i<items.length; i++) {%>
		<% if(i != index) {%>
		<div class="item" id="<%= items[i].slug %>" >
			<a href="/<%= items[i].slug %>">
				<div class="item-colors">
					<div class="primary"></div>
					<div class="secondary"></div>
					<div class="tertiary"></div>
				</div>
			</a>
		</div>
		<% } %>
		<% } %>
	</div>