<!DOCTYPE html>
<html lang="en">
<head>
		<% include ../partials/universal-head %>
</head>

<body>
	<p>Title: <%= title %>
	<p>Year: <%= year %>
	<p>Artist: <%= artist %>
	<p>Description: <%= description %>
	<p>Body: <%= body %>
	<% for(var i=0; i<images.length; i++) { %>
	<li>
	    <%= images[i] %>
	</li>
	<% } %>

	<% include ../partials/universal-scripts.ejs %>
</body>
</html>