<!DOCTYPE html>
<html lang="en">
<head>
		<% include ../partials/universal-head %>
</head>

<body>
	<p>Title: <%= title %>
	<p>Year: <%= year %>
	<p>Artist: <%= artist %>
	<p>Description: <%= description %>
	<p>Body: <%= body %>
	<% for(var i=0; i<images.length; i++) { %>
	<li>
		<%= images[i] %>
	</li>
	<% } %>
	<li id="jankogravner-modelingsnow" style="position: relative; width: 500px; height: 500px;">
		<div class="item-colors">
			<div class="primary" style="position: absolute; top: 0; bottom: 0; right: 0; left: 0; margin: auto;"></div>
			<div class="secondary" style="position: absolute; top: 0; bottom: 0; right: 0; left: 0; margin: auto;"></div>
			<div class="tertiary" style="position: absolute; top: 0; bottom: 0; right: 0; left: 0; margin: auto;"></div>
	</li>
	<li id="joelfisher-tree" style="position: relative; width: 500px; height: 500px;">
		<div class="item-colors">
			<div class="primary" style="position: absolute; top: 0; bottom: 0; right: 0; left: 0; margin: auto;"></div>
			<div class="secondary" style="position: absolute; top: 0; bottom: 0; right: 0; left: 0; margin: auto;"></div>
			<div class="tertiary" style="position: absolute; top: 0; bottom: 0; right: 0; left: 0; margin: auto;"></div>
		</div>
	</li>
	<li id="membersezillio-ukaracloth" style="position: relative; width: 500px; height: 500px;">
		<div class="item-colors">
			<div class="primary" style="position: absolute; top: 0; bottom: 0; right: 0; left: 0; margin: auto;"></div>
			<div class="secondary" style="position: absolute; top: 0; bottom: 0; right: 0; left: 0; margin: auto;"></div>
			<div class="tertiary" style="position: absolute; top: 0; bottom: 0; right: 0; left: 0; margin: auto;"></div>
	</li>
	<li id="unknown-kabbalisticdiagram" style="position: relative; width: 500px; height: 500px;">
		<div class="item-colors">
			<div class="primary" style="position: absolute; top: 0; bottom: 0; right: 0; left: 0; margin: auto;"></div>
			<div class="secondary" style="position: absolute; top: 0; bottom: 0; right: 0; left: 0; margin: auto;"></div>
			<div class="tertiary" style="position: absolute; top: 0; bottom: 0; right: 0; left: 0; margin: auto;"></div>
	</li>

	<% include ../partials/universal-scripts.ejs %>
</body>
</html>